.content {
  position: relative;
  min-height: 100vh;

  main {
    padding-bottom: 10rem;
    max-width: 128rem;
    margin: auto;
    padding-top: 3.2rem;

    @media (max-width: 1400px) {
      padding-inline: 2.4rem;
    }
  }
  .k-notification.k-notification-success {
    position: fixed;
    bottom: 3.2rem;
    right: 3.2rem;
    background-color: var(--color-green);
    border-color: var(--color-green);
    font-size: 1.5rem;
    padding: 1rem;
  }
}
