/****** CONFIG ******/

:root {
  /* colors */
  --color-tomato: #e92e2b;
  --color-dark-tomato: #b6202c;
  --color-green: #0d5039;
  --color-white: #ffffff;
}

/***** FONTS *****/

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/roboto-v47-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/londrina-solid-v17-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/londrina-solid-v17-latin-900.woff2') format('woff2');
}

/***** TYPOGRAPHY *****/

html {
  font-size: 10px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: var(--color-tomato);
  color: var(--color-white);
  min-height: 100vh;

  .k-input-md,
  .k-button-md {
    font-size: 1.4rem;
  }

  .k-table-md {
    font-size: 1.2rem;
  }

  .k-label {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }
}

h1 {
  font-size: clamp(6rem, 15.19vw + -1.291rem, 12rem);
  margin: 0;
}

h2,
h3 {
  font-family: 'Londrina Solid', Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin-top: 0;
}

h2 {
  font-size: 3rem;
  margin-bottom: 0;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}
